.benefits__title {
    @extend %visibilityHidden;
}
.benefits__card-list {

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: var(--cardGap);
    }
}