.clients__title {
    @extend %titleStyle;
}

.clients__list {
    @include flex(none, space-between);
    flex-wrap: wrap;
    gap: var(--cardGap);
}

.client__item {
    flex-basis: calc((100% - var(--cardGap)) / 2);
    height: 92px;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - var(--cardGap)*2) / 3);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - var(--cardGap)*5) / 6);
    }
}