.effective {
    max-width: 480px;
    height: auto;
    margin: 0 auto;
    background: 
    linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)), 
    url('../img/hero-m.jpg') center no-repeat,
    var(--bgG);
    background-size: cover;
    padding: 118px 0;

    @media (min-resolution: 192dpi) {
        background: 
        linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
        url('../img/hero-m2x.jpg') center no-repeat,
        var(--bgG);
        background-size: cover;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
        background: 
        linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
        url('../img/hero-t.jpg') center no-repeat,
        var(--bgG);
        background-size: cover;

        @media (min-resolution: 192dpi) {
            background: 
            linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
            url('../img/hero-t2x.jpg') center no-repeat,
            var(--bgG);
            background-size: cover;
        }
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        max-height: 600px;
        padding: 200px 0;

        background: 
        linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
        url('../img/hero-pc.jpg') center no-repeat,
        var(--bgG);
        background-size: cover;

        @media (min-resolution: 192dpi) {
            background: 
            linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
            url('../img/hero-pc2x.jpg') center no-repeat,
            var(--bgG);
            background-size: cover;
        }
    }
}

@supports (background-image: -webkit-image-set(url('../img/hero-m.webp') 1x)) {
    .map {background-image: -webkit-image-set(url('../img/hero-m.webp') 1x) }
}