.footer {
    background: var(--bgG);
    padding: 60px 0;
}

.footer__container {
    display: flex;
    

    
    // align-items: baseline;
    @media screen and (max-width: 767px) {
        text-align: center;
        flex-direction: column;
        gap: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
        padding: 0 89px;
        text-align: center;
    }
}

.footer__contacts {
    @media screen and (max-width: 767px) {
        text-align: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: auto;
        margin-bottom: 60px;
    }
}

.footer__address-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__socials {
    width: 210px;
    @media screen and (max-width: 767px),(min-width: 1200px) {
        margin: 0 auto;
    }
    

    
    // margin-left: 70px;
}

.footer__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--bgW);
    margin-bottom: 20px;
}

.footer__subscribe {
    @media screen and (min-width: 1200px) {
        width: calc(50% - 15px);
        margin-left: auto;
    }
}