.portfolio__title {
    @extend %visibilityHidden;
}

.portfolio__card-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: var(--cardGap);
}

.portfolio__card {
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - var(--cardGap)) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - var(--cardGap)*2) / 3);
    }
}  