.team {
    background: var(--bgLG);
}

.team__title {
    @extend %titleStyle;

    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
    }
}

.team__card-list {
    @media screen and (min-width: 768px) {
        @include flex(none, space-between);
        flex-wrap: wrap;
        gap: var(--cardGap);
    }
}