.header__nav-list {
    display: flex;
    gap: 50px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 32px;
    }
}

.nav-list__link {
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding: 16px 0;

    @media screen and (max-width: 480px) {
        font-size: 8.33vw;
    }
    
    @media screen and (min-width: 768px) {
        padding: 32px 0;
        font-size: 14px;
        line-height: 1.2;
    }
}

.nav-list__link--current {
    color: var(--accentColor);
    @media screen and (min-width: 768px) {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -1.5px;
        transform: translateX(-50%);
        width: calc(100% + 3px);
        height: 4px;
        background: var(--accentColor);
        border-radius: 2px;
        }
    }
}