.mobile_menu-btn--close{
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: transparent;
    padding: 10px 15px;
    line-height: 0;
    @media screen and (min-width: 768px) {
        display: none;
    }
}