.mobile_menu-btn {
    background-color: transparent;
    border: none;
    line-height: 0;
    padding: 10px 15px;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile_menu-icon {
    fill: currentColor;
}